* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
body {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    font-family: 'Open Sans', Arial, sans-serif;
}
.container {
    /* position: relative; */
    width: 100%;
    max-width: 1140px;
    padding: 0 2rem;
    margin-left: auto;
    margin-right: auto;
}
.main-header {
    padding: 2.4rem 0;
    background-color: #fff;
}
.main-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.main-header__brand {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.main-header__brand:active {
    opacity: .6;
}
.logo-img{
    z-index: 1000;
    width: 5rem;
    height: 5rem;
}
.logo-text {
    font-size: 2.4rem;
    line-height: 3.268rem;
    font-weight: 600;
    margin-left: 1.6rem;
    color: #222;
    z-index: 1000;
}
.main-nav{
    display: flex;
    align-items: center !important;
}
.main-nav__list {
    margin-right: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style-type: none;
}
.main-nav__item:not(:last-child) {
    margin-right: 3.2rem;
}
.main-nav.show-nav{
    transform: translateX(0%);
}
.main-nav__item a {
    text-decoration: none;
    color: #222;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.main-nav__item a:active {
    opacity: .6;
}

.main-btn {
    cursor: pointer;
    display: inline-block;
    background-color: #de2e54;
    border-radius: 8px;
    padding: 1.2rem 2.4rem;
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    line-height: 2.25rem;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: #de2e54 2px solid;
}
.main-btn:hover {
    background-color: #fff;
    color: #de2e54;
}
.main-btn:active {
    background-color: #de2e54;
    color: #fff;
    opacity: .6;
}
.logo-text:hover, .main-nav__item a:hover {
    color: #de2e54;
}
.burger-btn {
    padding: 1.2rem 0.15rem;
    border-radius: 0.8rem;
    font-size: 1.8rem;
    border: none;
    display: none;
    z-index: 1000;
}
.toggle{
    position: absolute;
    right: 2rem;
    font-size: 3rem ;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}
.hero {
    /* position: relative !important; */
    padding: 12rem 0;
    background-color: #0eb4c1;
    color: #fff;
}
.hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.hero__blog-wrapper {
    width: 50rem;
}
.hero-title {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 4.32rem;
    color: #fff;
}
.hero-text {
    font-size: 1.8rem;
    max-width: 44rem;
    font-weight: 400;
    margin: 1.6rem 0 3.6rem 0;
    line-height: 2.7rem;
}
.hero__btn:hover {
    color: #fff;
    background-color: #de2e54;
    opacity: .8;
}
.hero__btn:active {
    opacity: .6;
}
.hero-img {
    width: 42.3rem;
    height: 50.4rem;
    margin-top: -8.688rem;
    margin-bottom: -12rem;
    display: block;
}


/* MODAL STYLES */
.hidden{
    display: none;
}
.modal-container{
    padding: 0 3rem !important;
}
.modal{
    display: none;
    border-radius: 1rem;
    position: absolute;
    padding: 2rem;
    max-width: 43rem;
    width: 100%;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    background-color: rgba(0, 0, 0, 0.5);
    top: 23rem;
    left: 50%;
}
.close{
    border: none;
    background-color: transparent;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.fa-xmark{
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
}
.modal-inner{
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center; 
    color: rgb(235, 230, 230);
    margin-bottom: 2rem;
}
.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-form input{
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    border: none;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    outline: none;
    width: 90%;
    padding: 1rem;
}
.modal-form input::placeholder{
    font-weight: 400 !important ;
    color: rgb(176, 179, 183);
}
.submit{
   width: 17rem !important; 
}
.submit:hover{
    background-color: #231c1e;
    color: #fff;
}
/* MODAL STYLES  END*/















.services {
    padding: 12rem 2rem;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.services__title {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4.32rem;
    color: #000;
}
.services__big-blog {
    max-width: 86.4rem;
    padding: 0 2rem;
    margin-top: 5.6rem;
    margin-bottom: 6rem;
}
.services__blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.services__blog:not(:last-child) {
    margin-bottom: 8rem;
}
.services__img {
    border-radius: 25.5px;
    -webkit-box-shadow: 0 12px 24px -8px rgba(0, 107, 116, .3);
    box-shadow: 0 12px 24px -8px rgba(0, 107, 116, .3);
}
.services__tex-wrapper {
    max-width: 60rem;
    margin-left: 6.4rem;
}
.services__tex-wrapper h3 {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.888rem;
    color: #222;
}
.services__tex-wrapper p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #444;
    margin-top: 2.4rem;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6.4rem 0;
    background-color: #0eb4c1;
    color: #fff;
    text-align: center;
}
.contact__title {
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4.32rem;
    margin-bottom: 4rem;
}
.contact-btns{
    display: flex;
    align-items: center;
}
.contact__btn {
    padding: 1.2rem 2.4rem;
    border: 2px solid #fff;
    border-radius: 8px;
    font-family: 'Open Sans Condensed', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
}
.contact__btn:hover {
    background-color: #de2e54;
    border: 2px solid #de2e54;
}
.contact__btn:active {
    opacity: .6;
}
.contact__btn:last-child {
    margin-left: 4rem;
}


/* FOOTER STYLES */
.footer{
    padding: 2.4rem 0;
    background-color: #222;
    /* border: 2px solid red; */
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-logo-text{
    color: #fff;
}
.footer-nav__list{
    list-style: none;
    display: flex;
    align-items: center;
}
.footer-nav__item:not(:last-child) {
    margin-right: 3.2rem;
}
.footer-link {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer-link:active {
    opacity: .6;
}
.footer-link:hover {
    color: #de2e54;
}
.footer .logo-text, .footer .logo-text:active, .footer .main-nav__item a, .footer .main-nav__item a:active {
    color: #fff;
} 






/* BREAKPOINTS */
@media (max-width: 992px){
    html{
        font-size: 8px;
    }
    .footer-header{
        position: relative !important;
        display: flex;
    }
 

}
@media (max-width: 767px){
    .modal{
        top: 60rem;
        max-width: 57rem;
        /* left: 2.5rem; */
        margin-left: -28rem;
    }
    html{
        font-size: 8px !important;
    }
    .toggle{
        display: block;
    }
    .main-nav{
        display: block ;
        position: fixed;
        background-color: rgb(255, 255, 255);
        width: 69rem;
        top: 0rem;
        right: 0;
        left: 0;
        bottom: 0;
        align-items: center !important;
        justify-content: center !important;
        transform: translateX(-100%);
        transition: transform 0.5s;
    }


    .main-nav__list{
        margin-right: 0;
        margin-top: 15rem;
        flex-direction: column;  
    }
    .main-nav__item{
        margin-bottom: 2rem;
    }
    .main-nav__item:not(:last-child){
        margin-right: 0;
    }
    .header__btn{
        position: absolute;
        left: 24.5rem;
        z-index: 1;
    }
    .footer-container{
        align-items: stretch;
    }
    .footer-nav{
        /* justify-content: center; */
        align-items: center;
        margin-top: 2rem;
    }
    .footer-nav__item:not(:last-child) {
        margin-right: 2rem;
    }
    .footer-nav__list{
        margin-right: 0;
    }
}
@media (max-width: 575px){
    .modal{
        left: 4%;
        top: 60rem;
    }
    html{
        font-size: 8px !important;
    }
    .toggle{
        display: block;
    }
    .main-nav{
        display: block ;
        position: fixed;
        background-color: rgb(255, 255, 255);
        width: 45rem;
        top: 0rem;
        right: 0;
        left: 0;
        bottom: 0;
        align-items: center !important;
        justify-content: center !important;
        transform: translateX(-100%);
        transition: transform 0.5s;
    }

    .main-nav__list{
        margin-right: 0;
        margin-top: 15rem;
        flex-direction: column;  
    }
    .main-nav__item{
        margin-bottom: 2rem;
    }
    .main-nav__item:not(:last-child){
        margin-right: 0;
    }
    .header__btn{
        position: absolute;
        left: 12.5rem;
        z-index: 1;
    }
    .hero-container{
        flex-direction: column-reverse;
    }
    .hero-img{
        width: 38rem;
        height: 45rem;
    }
    .hero__blog-wrapper{
        margin-top: 2rem;
        width: 40rem;
       text-align: center;
    }
    .hero-title{
        font-size: 3rem;
    }
    .hero-img{
        margin-bottom: 0;
    }

    .modal{
        top: 60rem;
        max-width: 36rem;
        /* left: 2.5rem; */
        margin-left: 0rem;
    }
    .services__blog{
        flex-direction: column;
    }
    .services__img{
        margin-bottom: 2rem;
    }
    .contact-btns{
        padding: 0 2rem;
    }
    .contact__btn{
        padding: 1rem 2rem;
    }
    .footer-container{
        /* display: flex; */
    
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-nav{
        /* justify-content: center; */
        align-items: center;
        margin-top: 2rem;
    }
    .footer-nav__item:not(:last-child) {
        margin-right: 2rem;
    }
    .footer-nav__list{
        margin-right: 0;
    }
    .footer-link{
        margin: 0;
        z-index: 9000;
        font-size: 0.9rem !important;
    }
}

@media (max-width: 320px){
    .modal{
        top: 60rem;
        max-width: 36rem;
        /* left: 2.5rem; */
        margin-left: -18rem;
    }
    html{
        font-size: 7px ;
    }
    .toggle{
        display: block;
    }
    .main-nav{
        display: block ;
        position: fixed;
        background-color: rgb(255, 255, 255);
        width: 46rem;
        top: 0rem;
        right: 0;
        left: 0;
        bottom: 0;
        align-items: center !important;
        justify-content: center !important;
        transform: translateX(-100%);
        transition: transform 0.5s;
    }

    .main-nav__list{
        margin-right: 0;
        margin-top: 15rem;
        flex-direction: column;  
    }
    .main-nav__item{
        margin-bottom: 2rem;
    }
    .main-nav__item:not(:last-child){
        margin-right: 0;
    }
    .header__btn{
        position: absolute;
        left: 12.5rem;
        z-index: 1;
    }
    .hero-container{
        flex-direction: column-reverse;
    }
    .hero__blog-wrapper{
        margin-top: 2rem;
        width: 40rem;
       text-align: center;
    }
    .hero-title{
        
        font-size: 2.5rem;
    }
    .hero-img{
        margin-bottom: 0;
    }
    .services__blog{
        flex-direction: column;
    }
    .services__img{
        margin-bottom: 2rem;
    }
    .contact-btns{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .contact__btn:last-child{
        margin-left: 0;
        margin-top: 2rem;
    }
    .footer-container{
        /* display: flex; */
    
        flex-direction: column !important;
        align-items: flex-start;
    }
    .footer-logo-img{
        width: 4.5rem;
        height: 4.5rem;
    }
    .footer-nav{
        margin-top: 2rem;
        display: block !important;
    }
    .footer-link{
        z-index: 9000;
        font-size: 0.9rem !important;
    }
}